{% extends "layout.html" %}
{% block container %}
    <section class="content-header">
        <h1>
            Profile
        </h1>
        <ol class="breadcrumb">
            <li><a href="{{ url_for('site.home_page') }}"><i class="fa fa-dashboard"></i> Homepage</a></li>
            <li><a href="#">Personal</a></li>
            <li class="active"><a href="#">Profile</a></li>
        </ol>
    </section>

    <section class="content">
        <div class="row">
            <div class="col-md-3">
                <!-- Profile Image -->
                <div class="box box-primary">
                    <div class="box-body box-profile">
                        <img class="profile-user-img img-responsive img-circle"
                             src="static/user_images/{{ Current_Person[7]|default('noimage.jpg') }}"
                             alt="User profile picture">
                        <h3 class="profile-username text-center">{{ Current_Person[1] }}</h3>
                        <p class="text-muted text-center">{{ Current_Person[6] }}</p>
                        <ul class="list-group list-group-unbordered">
                            <li class="list-group-item">
                                <b>Your Responsibilities</b> <a class="pull-right">{{ active_project_number }}</a>
                            </li>
                            <li class="list-group-item">
                                <b>Following</b> <a class="pull-right">{{ listFollowing|length }}</a>
                            </li>
                            <li class="list-group-item">
                                <b>Followers</b> <a class="pull-right">{{ listFollowers|length }}</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <!-- About Me Box -->
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">About Me</h3>
                        <div class="pull-right box-tools">
                            <a href="{{ url_for('site.personal_cv_page') }}" class="btn btn-default btn-sm" data-toggle="tooltip"
                                    title="Edit" data-original-title="Remove">
                                <i class="fa fa-edit"></i></a>
                        </div>
                    </div>
                    <div class="box-body">
                        <strong><i class="fa fa-book margin-r-5"></i> Education</strong>
                        {% for education in listEducation %}
                            {% if loop.index == 1 %}
                                <p class="text-muted">
                                    {{ education[2] }} from the <b>{{ education[1] }}</b> <br> {{ education[4] }}
                                    - {{ education[5] }}
                                </p>
                            {% else %}
                                <div id="educationOther" style="display: none">
                                    <p class="text-muted">
                                        {{ education[2] }} from the <b>{{ education[1] }}</b> <br> {{ education[4] }}
                                        - {{ education[5] }}
                                    </p>
                                </div>
                            {% endif %}
                        {% endfor %}
                        {% if listEducation|length > 1 %}
                            <a href="#" class="show-more-education" id="educationShow" aria-expanded="true">Show
                                more</a>
                        {% endif %}
                        {% if listEducation|length == 0 %}
                            <p></p>There is no any education record.
                        {% endif %}
                        <hr>
                        <strong><i class="fa fa-briefcase margin-r-5"></i> Experience</strong>
                        {# {% for education in listEducation %}
                            {% if loop.index == 1 %}
                                <p class="text-muted">
                                    {{ education[2] }} from the <b>{{ education[1] }}</b> <br> {{ education[4] }}
                                    - {{ education[5] }}
                                </p>
                            {% else %}
                                <div id="experienceOther" style="display: none">
                                    <p class="text-muted">
                                        {{ education[2] }} from the <b>{{ education[1] }}</b> <br> {{ education[4] }}
                                        - {{ education[5] }}
                                    </p>
                                </div>
                            {% endif %}
                        {% endfor %}#}
                        {% if listEducation|length > 1 %}
                            <a href="#" class="show-more-experience" id="experienceShow" aria-expanded="true">Show
                                more</a>
                        {% endif %}
                        {% if listEducation|length == 0 %}
                            <p></p>There is no any experience record.
                        {% endif %}
                        <hr>
                        <strong><i class="fa fa-pencil margin-r-5"></i> Skills</strong>
                        <p>
                            {% for skill in listSkill %}
                                <a href="#" data-toggle="tooltip" data-placement="bottom"
                                   title="{{ skill[3] }}"><span class="label {% if skill[3] ==  'Beginner' %}label-danger
                                                    {% elif skill[3] == 'Intermediate' %} label-warning
                                                    {% elif skill[3] == 'Advance' %} label-info
                                                    {% elif skill[3] == 'Expert' %} label-primary
                                                    {% elif skill[3] == 'Master' %} label-success
                                                    {% endif %} }">{{ skill[2] }}</span></a>
                            {% endfor %}
                        </p>
                        {% if listSkill|length == 0 %}
                            There is no any skill information.
                        {% endif %}
                        <hr>
                        <strong><i class="fa fa-book margin-r-5"></i> Languages</strong>
                        <p>
                            {% for language in listLanguage %}
                                <a href="#" data-toggle="tooltip" data-placement="bottom"
                                   title="{{ language[3] }}"><span class="label {% if language[3] ==  'Beginner' %}label-danger
                                                    {% elif language[3] == 'Intermediate' %} label-warning
                                                    {% elif language[3] == 'Advance' %} label-info
                                                    {% elif language[3] == 'Expert' %} label-primary
                                                    {% elif language[3] == 'Master' %} label-success
                                                    {% endif %} }">{{ language[2] }}</span></a>
                            {% endfor %}
                        </p>
                        {% if listLanguage|length == 0 %}
                            There is no any language record.
                        {% endif %}
                        <hr>
                        <strong><i class="fa fa-file-text-o margin-r-5"></i> Information</strong>
                        {% for info in listInformation %}
                            {% if loop.index == 1 %}
                                <p class="text-muted">
                                    <b>{{ info[2] }}</b> <br> {{ info[3] }}<br>
                                </p>
                            {% else %}
                                <div id="informationOther" style="display: none">
                                    <p class="text-muted">
                                        <b>{{ info[2] }}</b> <br> {{ info[3] }}<br>
                                    </p>
                                </div>
                            {% endif %}
                        {% endfor %}
                        {% if listInformation|length > 1 %}
                            <a href="#" class="show-more-information" id="informationShow" aria-expanded="true">Show
                                more</a>
                        {% endif %}
                        {% if listInformation|length == 0 %}
                            <p></p>There is no any contact details.
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <div id="tabs" class="nav-tabs-custom">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#activeProjects" data-toggle="tab">Active Projects</a></li>
                        <li><a href="#followedProjects" data-toggle="tab">Followed Projects</a></li>
                        <li><a href="#followedPeople" data-toggle="tab">Followers | Following</a></li>
                        <li><a href="#comments" data-toggle="tab">Comments</a></li>
                        <li><a href="#settings" data-toggle="tab">Settings</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="active tab-pane" id="activeProjects">
                            {% for active_project in active_projects %}
                                <div class="post">
                                    <a href="#">{{ active_project[0] }}</a>

                                    <p>{{ active_project[1] }}</p>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="tab-pane" id="followedProjects">
                            <ul class="product-list products-list">
                                {% for followed_project in followed_projects %}
                                <li>
                                    <div class="box box-body">
                                        <h3 class="timeline-header"><a href="{{ url_for('site.projects_details_page', key=followed_project[5]) }}">{{ followed_project[6] }}</a> {{ followed_project[3] }}</h3>
                                        <div class="timeline-body">
                                            {{ followed_project[4] }}
                                        </div>
                                        <div class="timeline-footer">
                                            <form role="form" action="{{ action }}" method="POST">
                                          <!--  <a class="btn btn-primary btn-xs">View details</a> -->
                                            <button type="submit"
                                                    name="unfollowProject"
                                                    value="{{ followed_project[0] }}"
                                                    class="btn btn-danger btn-xs">Unfollow</button>
                                    <li>
                                        <div class="box box-body">
                                            <h3 class="timeline-header"><a
                                                    href="#">{{ followed_project[6] }}</a> {{ followed_project[3] }}
                                            </h3>
                                            <div class="timeline-body">
                                                {{ followed_project[4] }}
                                            </div>
                                            <div class="timeline-footer">
                                                <form role="form" action="{{ action }}" method="POST">
                                                    <!--  <a class="btn btn-primary btn-xs">View details</a> -->
                                                    <button type="submit"
                                                            name="unfollowProject"
                                                            value="{{ followed_project[0] }}"
                                                            class="btn btn-danger btn-xs">Unfollow
                                                    </button>
                                                </form>
                                            </div>
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                            <div class="box-footer text-center">
                                <a href="#" class="uppercase">View All Projects!</a>
                            </div>
                        </div>

                        <div class="tab-pane clearfix" id="followedPeople">
                            <div class="col-md-6 col-xs-12">
                                {% if listFollowers %}
                                    <div class="box box-default">
                                        <div class="box-header with-border">
                                            <h3 class="box-title">Followers</h3>
                                        </div>
                                        <div class="box-body">
                                            <ul class="users-list clearfix">
                                                {% for follower in listFollowers %}
                                                    <div class="col-md-4 col-xs-3">
                                                        <li>
                                                            <img width="75px" height="75px"
                                                                 src="static/user_images/{{ follower[3] }}"
                                                                 alt="User Image">
                                                            <a data-toggle="tooltip" data-placement="bottom"
                                                               title="View {{ follower[2] }} more!"
                                                               class="users-list-name"
                                                               href="{{ url_for('site.people_person_detail_page', key=follower[1]) }}">{{ follower[2] }}</a>
                                                            <span class="users-list-date">{{ follower[6].strftime('%d.%m.%Y') }}</span>
                                                        </li>
                                                    </div>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                {% else %}
                                    <div class="callout callout-default">
                                        <form role="form" action="" method="post">
                                            <p>You have no followers. &nbsp; <img width="20px" height="20px"
                                                                                  src="http://image.flaticon.com/icons/png/512/42/42901.png">
                                            </p>
                                            <p><strong>Joining a project group may help to expand your network.</strong>
                                            </p>
                                            <button class="btn bg-orange-active btn-xs" name="searchProjectPage"
                                                    type="submit">
                                                <i class="fa fa-search"></i>&nbsp;&nbsp; Join a project right now!
                                            </button>
                                        </form>
                                    </div>
                                {% endif %}
                            </div>
                            <div class="col-md-6 col-xs-12">
                                {% if listFollowing %}
                                    <div class="box box-default">
                                        <div class="box-header with-border">
                                            <h3 class="box-title">Following</h3>
                                        </div>
                                        <div class="box-body">
                                            <ul class="users-list clearfix">
                                                {% for folllowing in listFollowing %}
                                                    <div class="col-md-4 col-xs-3">
                                                        <li>
                                                            <img width="75px" height="75px"
                                                                 src="static/user_images/{{ folllowing[5] }}"
                                                                 alt="User Image">
                                                            <a data-toggle="tooltip" data-placement="bottom"
                                                               title="View {{ folllowing[4] }} more!"
                                                               class="users-list-name"
                                                               href="{{ url_for('site.people_person_detail_page', key=folllowing[3]) }}"
                                                               class="users-list-name">{{ folllowing[4] }}</a>
                                                            <span class="users-list-date">{{ folllowing[6].strftime('%d.%m.%Y') }}</span>
                                                        </li>
                                                    </div>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                {% else %}
                                    <div class="callout callout-default">
                                        <p>You aren't follow anyone.</p>
                                        <button class="btn btn-warning btn-xs" name="searchPeoplePage"
                                                type="submit">
                                            <i class="fa fa-search"></i>&nbsp;&nbsp; Add a connection right now!
                                        </button>
                                    </div>
                                {% endif %}
                            </div>
                        </div>


                        <div class="tab-pane clearfix" id="comments">
                            <div class="col-md-12">
                                <form method="post" action="{{ action }}">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-comment"></i></span>
                                        <textarea name="addComment" class="form-control" rows="2"
                                                  placeholder="Write a response to comments, leave a message to own comment wall"></textarea>
                                    </div>
                                    <button class="btn btn-primary btn-xs" type="submit" value="Submit">Add Comment
                                    </button>
                                </form>
                                <br>
                                <br>

                                {% for comment in personComments %}
                                    <form method="post" action="{{ action }}">
                                        <div class="post">
                                            <div class="user-block">
                                                <img class="img-circle img-bordered-sm"
                                                     src="../static/user_images/{{ comment[6] }}"
                                                     alt="user image">
                                                <span class="username">
                                                    {% if Current_Person[0] ==  comment[4] %}
                                                        <a href="{{ url_for('site.personal_default_page') }}">{{ comment[1] }}</a>
                                                        <button name="deleteComment" style="color: #D73925"
                                                                value="{{ comment[0] }}"
                                                                type="submit" class="pull-right btn btn-box-tool"
                                                                onclick="return confirm('Are you sure to delete?')"><i
                                                                class="fa fa-times-circle fa-2x"></i></button>
                                                        <button name="" style="color: #3C8DBC" data-toggle="modal"
                                                                data-target="#{{ comment[0] }}"
                                                                type="button" class="pull-right btn btn-box-tool"><i
                                                                class="fa fa-edit fa-2x"></i>
                                                        </button>
                                                    {% else %}
                                                        <a href="{{ url_for('site.people_person_detail_page', key=comment[4]) }}">{{ comment[1] }}</a>
                                                    {% endif %}

                                                </span>
                                                <span class="description">{{ comment[3].strftime('%d.%m.%Y   %H:%M') }}</span>
                                            </div>
                                            <p style="margin-left: 2%">{{ comment[2] }}</p>
                                            <div class="modal fade" id="{{ comment[0] }}" tabindex="-1" role="dialog"
                                                 aria-labelledby="CommentModalLabel">
                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <button type="button"
                                                                    class="close"
                                                                    data-dismiss="modal"
                                                                    aria-label="Close"><span
                                                                    aria-hidden="true">&times;</span>
                                                            </button>
                                                            <h4 class="modal-title"
                                                                id="CommentModalLabel">
                                                            </h4>
                                                        </div>
                                                        <div class="modal-body">
                                                            <div class="user-block">
                                                                <img class="img-circle img-bordered-sm"
                                                                     src="../static/user_images/{{ comment[6] }}"
                                                                     alt="user image">
                                                                <span class="username"><a href="#">{{ comment[1] }}</a></span>
                                                                <span class="description">{{ comment[3].strftime('%d.%m.%Y   %H:%M') }}</span>
                                                            </div>
                                                            <textarea name="updateComment" class="form-control"
                                                                      rows="2">{{ comment[2] }}</textarea>
                                                            <input type="hidden" name="updateId"
                                                                   value="{{ comment[0] }}"
                                                                   class="form-control">
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button"
                                                                    class="btn btn-default"
                                                                    data-dismiss="modal">
                                                                Close
                                                            </button>
                                                            <button type="submit"
                                                                    value="Submit"
                                                                    class="btn btn-primary">
                                                                Update
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            {#                                    <ul class="list-inline">
                                        <li><a href="#"  class="link-black text-sm"><i
                                                class="fa fa-share margin-r-5"></i> Write Responses</a></li>
                                        <li class="pull-right">
                                            <a href="#" class="link-black text-sm"><i
                                                    class="fa fa-comments-o margin-r-5"></i> Show Comments(5)</a>
                                        </li>
                                    </ul>
                                    <input class="form-control input-sm" type="text" placeholder="Response">
                                    <div class="col-md-1">&nbsp;</div>
                                    <div class="col-md-11">
                                        <br>
                                        <div class="post">
                                            <div class="user-block">
                                                <img class="img-circle img-bordered-sm"
                                                     src="http://s3.amazonaws.com/37assets/svn/765-default-avatar.png"
                                                     alt="user image">
                                                <span class="username">
                                                    <a href="#">Jonathan Burke Jr.</a>
                                                    <button name="deleteCommnet" style="color: #D73925" value=""
                                                            type="submit" class="pull-right btn btn-box-tool">
                                                        <i class="fa fa-times-circle fa-2x"></i>
                                                    </button>
                                                    <button name="deleteCommnet" style="color: #3C8DBC" value=""
                                                            type="submit" class="pull-right btn btn-box-tool">
                                                        <i class="fa fa-edit fa-2x"></i>
                                                    </button>
                                                </span>
                                                <span class="description">Shared publicly - 7:30 PM today</span>
                                            </div>
                                            <p>
                                                Lorem ipsum represents a long-held tradition for designers,
                                                typographers and the like. Some people hate it and argue for
                                                its demise, but others ignore the hate as they create awesome
                                                tools to help create filler text for everyone from bacon lovers
                                                to Charlie Sheen fans.
                                            </p>
                                        </div>
                                    </div>#}
                                        </div>
                                    </form>
                                {% endfor %}
                            </div>
                        </div>


                        <div class="tab-pane clearfix" id="settings">
                            <form method="post" action="{{ action }}" onsubmit="return checkForm()"
                                  name="personalSettingForm" class="form-horizontal"
                                  enctype="multipart/form-data">
                                <div class="row">
                                    <div class="col-md-1">&nbsp;</div>
                                    <div class="col-md-9">
                                        <div class="alert-danger alert-dismissible" id="alertPswd"
                                             style="display: none; padding: 5px">
                                            Your passwords must match!
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-md-10">
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">First Name</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" name="firstName"
                                                       placeholder="Enter First Name"
                                                       value="{{ Current_Person[8] }}">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">Last Name</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" name="lastName"
                                                       placeholder="Enter Last Name"
                                                       value="{{ Current_Person[9] }}">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">Account</label>
                                            <div class="col-sm-10">
                                                <select name="account" id="account" class="form-control">
                                                    <option value="-1">Select Account Type</option>
                                                    {% for foo in listAccount %}
                                                        {% if foo[1] == Current_Person[2] %}
                                                            <option selected="selected"
                                                                    value='{{ foo[0] }}'>{{ foo[1] }}</option>
                                                        {% else %}
                                                            <option value='{{ foo[0] }}'>{{ foo[1] }}</option>
                                                        {% endif %}
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">E-Mail</label>
                                            <div class="col-sm-10">
                                                <input type="email" class="form-control" name="eMail"
                                                       placeholder="Enter E-Mail" disabled="disabled"
                                                       value="{{ Current_Person[3] }}">
                                            </div>
                                        </div>
                                        {#                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">Current Password</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" name="currentpswd"
                                                       placeholder="Enter Current Password">
                                            </div>
                                        </div>#}
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">New Password</label>
                                            <div class="col-sm-10">
                                                <input type="password" class="form-control" name="pswd"
                                                       placeholder="Enter New Password">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">Confirm</label>
                                            <div class="col-sm-10">
                                                <input type="password" class="form-control" name="repswd"
                                                       placeholder="Confirm New Password">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">Title</label>
                                            <div class="col-sm-10">
                                                <select name='title' id="title" class="form-control">
                                                    <option value="-1">Select Title</option>
                                                    {% for foo in listTitle %}
                                                        {% if foo[1] == Current_Person[6] %}
                                                            <option selected="selected"
                                                                    value='{{ foo[0] }}'>{{ foo[1] }}</option>
                                                        {% else %}
                                                            <option value='{{ foo[0] }}'>{{ foo[1] }}</option>
                                                        {% endif %}
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-2 control-label">&nbsp;</label>
                                            <div class="col-md-10">
                                                <div class="iradio_minimal-blue checked">
                                                    {% if Current_Person[5] %}
                                                        <label>
                                                            <input name="r1" value="male"
                                                                   type="radio"> Male
                                                        </label>
                                                    {% else %}
                                                        <label>
                                                            <input name="r1" checked="checked" value="male"
                                                                   type="radio"> Male
                                                        </label>
                                                    {% endif %}

                                                </div>
                                                <div class="iradio_minimal-blue">
                                                    {% if Current_Person[5] %}
                                                        <label>
                                                            <input name="r1" checked="checked" value="female"
                                                                   type="radio"> Female
                                                        </label>
                                                    {% else %}
                                                        <label>
                                                            <input name="r1" value="female" type="radio"> Female
                                                        </label>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <br>
                                    <div class="col-md-2 col-xs-2"></div>
                                    <div class="col-md-2 col-xs-4">
                                        <img class="img-responsive img-bordered" height="150px"
                                             width="150px"
                                             src="static/user_images/{{ Current_Person[7] }}" alt="..." class="margin">
                                    </div>
                                    <div class="col-md-2 col-xs-4">
                                        <label for="profileImage">Change Profile Image</label>
                                        <input type="file" class="btn btn-default" id="profileImage" name="file"
                                               accept="image/*" value="{{ Current_Person[7] }}"/>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-md-8">

                                    </div>
                                    <div class="col-md-2">
                                        <button type="submit" name="register"
                                                class="btn btn-danger btn-block btn-flat">Cancel
                                        </button>
                                    </div>
                                    <div class="col-md-2">
                                        <button type="submit" name="saveProfileSettings"
                                                class="btn btn-primary btn-block btn-flat">Save Changes
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- iCheck -->
    <script src="../../static/plugins/iCheck/icheck.min.js"></script>
    <script>
        $(function () {
            $('input').iCheck({
                checkboxClass: 'icheckbox_square-blue',
                radioClass: 'iradio_square-blue',
                increaseArea: '20%' // optional
            });
        });

        function checkForm() {
            var personalSettingForm = document.forms["personalSettingForm"];
            pswd = personalSettingForm["pswd"];
            repswd = personalSettingForm["repswd"];
            if (pswd.value != "" || repswd.value != "") {
                if (pswd.value != repswd.value) {
                    $('#alertPswd').show();
                    pswd.focus();
                    return false;
                }
                else {
                    $('#alertPswd').hide();
                    return true;
                }
            }
        }
        $('.show-more-education').click(function (e) {
            $('#educationOther').toggle();
            if ($('#educationShow').text() == 'Show more') {
                $('#educationShow').text('Show less');
            }
            else if ($('#educationShow').text() == 'Show less') {
                $('#educationShow').text('Show more');
            }
            e.preventDefault();
        });
        $('.show-more-experience').click(function (e) {
            $('#experienceOther').toggle();
            if ($('#experienceShow').text() == 'Show more') {
                $('#experienceShow').text('Show less');
            }
            else if ($('#experienceShow').text() == 'Show less') {
                $('#experienceShow').text('Show more');
            }
            e.preventDefault();
        });
        $('.show-more-information').click(function (e) {
            debugger;
            $('#informationOther').toggle();
            if ($('#informationShow').text() == 'Show more') {
                $('#informationShow').text('Show less');
            }
            else if ($('#informationShow').text() == 'Show less') {
                $('#informationShow').text('Show more');
            }
            e.preventDefault();
        });
    </script>
{% endblock %}