{% extends "layout.html" %}
{% block container %}
    <section class="content-header">
        <h1>Create Project</h1>
        <ol class="breadcrumb">
            <li><a href='{{ url_for('site.home_page') }}'><i class="fa fa-dashboard"></i> Homepage</a></li>
            <li><a href="#">Projects</a></li>
            <li class="active"><a href="#">Create Project</a></li>
        </ol>
    </section>


    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-warning">
                    <form role="form" action="" method="post" name="create_project">
                        <div class="box-body">
                            <div class="col-md-6 col-xs-12">
                                <div class="form-group">
                                    <label>Project Name</label>
                                    <input type="text" class="form-control" name="project_name"
                                           placeholder="Project Name">
                                </div>
                                <div class="form-group">
                                    <label>Project Type</label>
                                    <select name='project_type' id="project_type"
                                            class="form-control select2 select2-hidden-accessible" style="width: 100%;"
                                            tabindex="-1" aria-hidden="true">
                                        <option value="-1">Select Project Type</option>
                                        {% for a in listProjectType %}
                                            <option value='{{ a[0] }}'>{{ a[1] }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>Project Thesis Type</label>
                                    <select name='project_thesis_type' id="project_thesis_type" class="form-control select2 select2-hidden-accessible" style="width: 100%;"
                                            tabindex="-1" aria-hidden="true">
                                        <option value="-1">Select Project Thesis Type</option>
                                        {% for a in listProjectThesisType %}
                                            <option value='{{ a[0] }}'>{{ a[1] }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>Project Description</label>
                                    <textarea class="form-control" name="project_description" rows="4"
                                              placeholder="Write clear description for your project"></textarea>
                                </div>
                            </div>
                            <div class="col-md-6 col-xs-12">
                                <div class="form-group">
                                    <label>Department</label>
                                    <select name='department' id="department" class="form-control select2 select2-hidden-accessible" style="width: 100%;"
                                            tabindex="-1" aria-hidden="true">
                                        <option value="-1">Select Department</option>
                                        {% for a in listDepartment %}
                                            <option value='{{ a[0] }}'>{{ a[1] }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>Start Date</label>
                                    <div class="input-group date">
                                        <div class="input-group-addon">
                                            <i class="fa fa-calendar">
                                            </i>
                                        </div>
                                        <input type="text" class="form-control pull-right dpDate" name="start"
                                               placeholder="Choose start date"
                                               id="datepicker">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>End Date</label>
                                    <div class="input-group date">
                                        <div class="input-group-addon">
                                            <i class="fa fa-calendar">
                                            </i>
                                        </div>
                                        <input type="text" class="form-control pull-right dpDate" name="end_date"
                                               placeholder="Choose end date"
                                               id="datepicker">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Member Limit</label>
                                    <input type="number" min="1" max="20" class="form-control" name="limit"
                                           placeholder="Select member limit for your project">
                                </div>
                                <div class="form-group">
                                    <label>Manager</label>
                                    <select name='project_manager' id="project_manager" class="form-control select2 select2-hidden-accessible" style="width: 100%;"
                                            tabindex="-1" aria-hidden="true">
                                        {% for a in listManager %}
                                            <option value='{{ a[0] }}'>{{ a[1] }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="box-footer">
                                <button type="submit" name="save" value="Add" class="btn btn-primary">Save Changes
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <script type="text/javascript">
        $(document).ready(function () {
        });
        $(function () {
            $('.dpDate').datepicker({
                format: "yyyy-mm-dd",
                autoclose: true,
            });
        });
        $(function () {
            //Initialize Select2 Elements
            $(".select2").select2({
                minimumResultsForSearch: -1
            });
        });
    </script>
{% endblock %}
