{% extends "layout.html" %}
{% block container %}

    <section class="content">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-9">

                <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#projectDetails" data-toggle="tab">Project Details</a></li>
                    <li><a href="#worklogs" data-toggle="tab">Worklogs</a></li>
                    <li><a href="#members" data-toggle="tab">Members</a></li>
                    <li><a href="#projectComments" data-toggle="tab">Project's Comments</a></li>
                    <li><a href="#settings" data-toggle="tab">Settings</a></li>
                </ul>
                <div class="tab-content">
                    <div class="active tab-pane" id="projectDetails">
                    <div class="box-body">
                        <form role="form" action="{{ url_for('site.projects_search_page')}}" method="get" name="search_project" class="form-horizontal">
                            <p>Project Name : {{ project[0] }}</p>
                            <p>Project Type : {{ project[2] }}</p>
                            <p>Project Description : {{ project[1] }}</p>
                            <p>Department : {{ project[3] }}</p>
                            <p>Status : {{ project[4] }}</p>
                            <p>Created By : {{ project[5] }}  {{ project[6] }}</p>
                        </form>
                        {% if current_user_objectid == project_creator  %}
                        <div class="form-group">
                            <label></label>
                                <div class="pull-left header"><a href="#" data-toggle="modal" data-target="#UpdateModal">
                                    <i class="fa fa-pencil-square-o fa-2x"></i>Update Project</a>
                                </div>
                        </div>
                        {% endif %}
                        <form role="form" action="{{ url_for('site.projects_details_page', key=project[7])}}" method="post">
                            {% if current_user_objectid == project_creator  %}
                                <button name="delete_project" value="Delete" type="submit" class="btn btn-box-tool">
                                    <i class="fa fa-times-circle fa-2x"></i>Delete Project</a>
                                </button>
                            {% endif %}
                            <div class="modal fade" id="UpdateModal" tabindex="-1" role="dialog" aria-labelledby="UpdateModalLabel">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span></button>
                                                <h4 class="modal-title" id="UpdateModalLabel">New Project Details</h4>
                                        </div>
                                        <div class="modal-body">
                                            <div class="form-group">
                                                <label>New Project Name</label>
                                                <input type="text" class="form-control" name="project_name" placeholder="Enter">
                                            </div>
                                            <div class="form-group">
                                                <label>New Project Description</label>
                                                <textarea class="form-control" name="project_description" rows="4" placeholder="Enter"></textarea>
                                            </div>
                                            <div class="form-group">
                                                <label>New End Date</label>
                                                <div class="input-group date">
                                                    <div class="input-group-addon">
                                                        <i class="fa fa-calendar">
                                                        </i>
                                                    </div>
                                                    <input type="text" class="form-control pull-right" id="datepicker">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label>New Member Limit</label>
                                                <input type="number" class="form-control" name="limit" placeholder="Enter">
                                            </div>
                                            <div class="form-group">
                                                <label>Manager</label>
                                                <select name='project_manager' id="project_manager" class="form-control">
                                                    {% for a in listManager %}
                                                        <option value='{{ a[0] }}'>{{ a[1] }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="submit" name="update" value="{{ project[7] }}" class="btn btn-primary">Update</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                  </div>
                <div class="tab-pane" id="worklogs">
                      <div class="box-body">
                         <!-- <ul class="timeline timeline-inverse"> -->
                              {% for worklogs in worklogs %}
                                    <div class="box">
                                   <h3><a href="#">{{ worklogs[4] }}</a></h3>
                                      <p>
                                        {{ worklogs[1] }}
                                      </p>
                                  </div>
                              {% endfor %}
                        <!--  </ul> -->
                      </div>
                </div>
                    <div class="tab-pane" id="members">




                            <div class="box-body">
                                    {% if members %}
                                    <div class="box box-default">
                                        <div class="box-header with-border">
                                            <h3 class="box-title">Members</h3>
                                        </div>
                                        <div class="box-body">
                                            <ul class="users-list clearfix">
                                                {% for member in members %}
                                                    <div class="col-md-4 col-xs-3">
                                                        <li>
                                                            <img width="75px" height="75px"
                                                                 src="static/user_images/{{ member[1] }}"
                                                                 alt="User Image">
                                                            <a data-toggle="tooltip" data-placement="bottom"
                                                               title="View {{ member[0] }} more!"
                                                               class="users-list-name"
                                                               href="{{ url_for('site.people_person_detail_page', key=member[3]) }}">{{ member[0] }}</a>
                                                        </li>
                                                    </div>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                {% else %}
                                    <div class="callout callout-default">
                                        <form role="form" action="" method="post">
                                            <p> No team members in the project. &nbsp; <img width="20px" height="20px"
                                                                                  src="http://image.flaticon.com/icons/png/512/42/42901.png">
                                            </p>
                                            <p><strong>More team members can make the project development be faster.</strong>
                                            </p>
                                            <button class="btn bg-orange-active btn-xs" name="searchProjectPage"
                                                    type="submit">
                                                <i class="fa fa-search"></i>&nbsp;&nbsp; Add a team member!
                                            </button>
                                        </form>
                                    </div>
                                {% endif %}
                            </div>











                    </div>
                  <div class="tab-pane" id="projectComments">
                      <div class="box-body">
                          <form role="form" action="{{ url_for('site.projects_search_page')}}" method="post" name="create_project_comment" class="form-horizontal">
                            <ul class="timeline timeline-inverse">
                                {% for project_comment in project_comments %}

                                  <li class="time-label">
                                        <span class="bg-teal-active">
                                          {{ project_comment[3] }}
                                        </span>
                                  </li>
                                  <li>
                                    <i class="fa fa-search bg-purple"></i>

                                    <div class="timeline-item">

                                      <h3 class="timeline-header"><a href="#">{{ project_comment[0] }} {{ project_comment[1] }}</a></h3>
                                      <div class="timeline-body">
                                        {{ project_comment[2] }}
                                      </div>
                                       <form role="form" action="{{ url_for('site.projects_details_page', key=project[7])}}" method="post">
                                           {% if current_user_objectid == project_comment[5] %}
                                          <div class="timeline-footer">
                                              <button type="submit" name="delete" value="{{ project_comment[4] }}" class="btn btn-primary btn-xs">Delete</button>

                                              <button class="btn btn-box-tool" type="button" data-toggle="dropdown">
                                                  <i class="fa fa-pencil-square-o fa-2x"></i>
                                              </button>
                                              <ul class="dropdown-menu" style="border: 2px #f2f2f2">
                                                  <li>Editted Comment:</li>
                                                  <li>
                                                      <div class="col-xs-ao">
                                                          <input type="text" name="newComment" class="form-control">
                                                      </div>
                                                  </li>
                                                  <li>
                                                      <button type="submit" name="edit" value="{{ project_comment[4] }}" class="btn btn-danger btn-xs">Edit</button>
                                                  </li>
                                              </ul>
                                          </div>
                                           {% endif %}
                                       </form>

                                    </div>
                                  </li>
                                  <li>
                                    <i class="fa fa-clock-o bg-gray"></i>
                                  </li>
                                    <li></li>
                                {% endfor %}
                            </ul>
                          </form>
                          <form role="form" action="{{ url_for('site.projects_details_page', key=project[7])}}" method="post">

                                <div class="form-group">
                                    <label>Add Comment</label>
                                    <textarea class="form-control" name="project_comment" rows="4" placeholder="Enter"></textarea>
                                </div>
                                <button type="submit" name="addComment" value="AddComment" class="btn btn-danger btn-xs">Add</button>
                          </form>
                      </div>
                  </div>

                  <div class="tab-pane" id="settings">
                      <div class="col-md-6"></div>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </section>
{% endblock %}