{% extends "layout.html" %}
{% block container %}
    <section class="content-header">
        <h1>Project Name  </h1>
        <ol class="breadcrumb">
          <li><a href="{{ url_for('site.home_page') }}"><i class="fa fa-dashboard"></i> Homepage</a></li>
          <li><a href="#">Projects</a></li>
          <li class="active"><a href="#">Project Names</a></li>
        </ol>
    </section>

    <section class="content">
        <div class="row">
            <div class="col-md-6">
                <div class="box box-warning">
                    <div class="box-body">
                        <form role="form" action="" method="post" name="create_project" class="form-horizontal">
                            <div class="form-group">
                                <div class="form-group">
                                    <label>New Project Name</label>
                                    <textarea class="form-control" name="project_name" rows="1" ></textarea>
                                </div>
                                <div class="form-group">
                                    <label>New Project Description</label>
                                    <textarea class="form-control" name="project_description" rows="4" ></textarea>
                                </div>
                            </div>
                            <div class="box-footer">
                                <button type="submit" name="update" value="Update" class="btn btn-primary">Submit</button>
                            </div>
                        </form>
                    </div>
                 </div>
            </div>
        </div>
    </section>
{% endblock %}