{% extends "layout.html" %}
{% block container %}
    <section class="content-header">
        <h1>Search Project</h1>
        <ol class="breadcrumb">
          <li><a href='../dashboard.html'><i class="fa fa-dashboard"></i> Homepage</a></li>
          <li><a href="#">Projects</a></li>
          <li class="active"><a href="search_project.html">Search Project</a></li>
        </ol>
    </section>

    <section class="content">
        <div class="row">
            <div class="col-md-12">
              <div class="box">
              <form role="form" action="" method="post" name="search_project" class="form-horizontal">
                <div class="box-header">
                  <h3 class="box-title">Projects</h3>

                  <div class="box-tools">
                    <div class="input-group input-group-sm" style="width: 150px;">
                      <input type="text" name="table_search" class="form-control pull-right" placeholder="Search">

                      <div class="input-group-btn">
                        <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body table-responsive no-padding">
                    <table class="table table-hover">
                        <tbody>

                            <tr>
                                <th>Select</th>
                              <th>Project Title</th>
                              <th>Project Description</th>
                                <th>Project ID</th>
                            </tr>
                            {% for project in projects %}
                            <tr>
                              <td><div class="checkbox"><label><input type="checkbox" name="check" value="{{project[0]}}"></label></div></td>
                                <td>{{ project[1] }}</td>
                                <td>{{ project[2] }}</td>
                                <td>{{ project[0] }}</td>
                            </tr>
                            {% endfor %}
                      </tbody></table>
                        <div class="box-footer">
                            <button type="submit" name="delete" value="Delete" class="btn btn-primary">Delete</button>
                            <!--<button type="submit" name="delete" value="Delete" class="btn btn-primary">Delete</button>-->

                        </div>

                </div>
              </form>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        </div>


    </section>
{% endblock %}
