{% extends "layout.html" %}
{% block container %}
    <section class="content-header">
        <h1>Profile</h1>
        <ol class="breadcrumb">
          <li><a href='../dashboard.html'><i class="fa fa-dashboard"></i> Homepage</a></li>
          <li><a href="#">Projects</a></li>
          <li class="active"><a href="search_project.html">Search Project</a></li>
        </ol>
    </section>
     <div class="callout callout-info">
        <h4>
            <i class="fa fa-info"></i>  Note:
        </h4>
        This page will give you a chance to search projects and you can find the perfect one!
    </div>

    <section class="content">

    </section>
{% endblock %}