{% extends "layout.html" %}
{% block container %}
    <section class="content-header">
        <h1>Search Project</h1>
        <ol class="breadcrumb">
          <li><a href='{{ url_for('site.home_page') }}'><i class="fa fa-dashboard"></i> Homepage</a></li>
          <li><a href="#">Projects</a></li>
          <li class="active"><a href="search_project.html">Search Project</a></li>
        </ol>
    </section>

        <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <form role="form" action="" method="post" name="search_project" class="form-horizontal">
                    <div class="box-header">
                        <h3 class="box-title"></h3>
                    </div>
                    <div class="box-body">
                        <div id="example1_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                            <div class="row">
                                <div class="col-sm-12">
                                    <table id="example1" class="table table-bordered table-striped dataTable"
                                           role="grid" aria-describedby="example1_info">
                                        <thead>
                                        <tr role="row">
                                            <th style="width: 30px;">
                                            </th>
                                            <th class="" tabindex="0" aria-controls="example1" rowspan="1"
                                                colspan="1" aria-label=""
                                                aria-sort="descending" style="width: 70px;">
                                                Project Title
                                            </th>
                                            <th class="" tabindex="0" aria-controls="example1" rowspan="1"
                                                colspan="1" aria-label=""
                                                style="width: 190px;">Project Description
                                            </th>
                                            <th class="" tabindex="0" aria-controls="example1" rowspan="1"
                                                colspan="1"
                                                aria-label=""
                                                style="width: 110px;">Department
                                            </th>
                                        </tr>
                                        </thead>
                                        <tbody>

                                        {% for project in projects %}
                                            <tr role="row">
                                                <td><button type="submit" name="details" value="{{project[0]}}" class="btn btn-primary btn-xs">Details</button></td>
                                                <td>{{ project[1] }}</td>
                                                <td>{{ project[2] }}</td>
                                                <td>{{ project[3] }}</td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.box-body -->
                    </form>
                </div>
            </div>
        </div>
    </section>
    <script type="text/javascript">
        $(document).ready(function () {
            $(function () {
                $('#example1').DataTable({
                    "paging": false,
                    "lengthChange": false,
                    "searching": true,
                    "ordering": false,
                    "info": false,
                    "autoWidth": false,
                    "order": [],
                    "aoColumns": [
                        {"bSortable": false},
                        {"bSortable": false},
                        {"bSortable": false},
                        {"bSortable": false},
                    ]
                });
            })

        });

    </script>

{% endblock %}
