{% extends "layout.html" %}
{% block container %}
    <section class="content-header">
      <h1>
        Dashboard
        <small>Your personal dashboard</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href='./'><i class="fa fa-dashboard active"></i> Dashboard</a></li>
      </ol>
    </section>

    <section class="content">

 <div class="row">
        <div class="col-md-6">
          <div class="box box-solid ">
            <div class="box-header with-danger">
              <i class="fa fa-tag"></i>

              <h3 class="box-title">Project Updates</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">

                <div class="callout callout-warning">
                <h4>Sample Project 3</h4>

                <p>  Here is the update message of the project. </p>
              </div>

                           <div class="callout callout-warning">
                <h4>Sample Project 4</h4>

                <p>  Here is the update message of the project. </p>
              </div>

                           <div class="callout callout-warning">
                <h4>Sample Project 5</h4>

                <p>  Here is the update message of the project. </p>
              </div>



            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!-- ./col -->
        <div class="col-md-6">

          <div class="box box-solid">
            <div class="box-header with-border">
              <i class="fa fa-tag"></i>

              <h3 class="box-title">Current Projects</h3>
            </div>

            <!-- /.box-header -->
            <div class="box-body">

      <div class="callout callout-danger">
                <h4>Sample Project 1</h4>

                <p>  Here is the description of the project. </p>
              </div>

              <div class="callout callout-danger">
                <h4>Sample Project 2</h4>

                <p>  Here is the description of the project. </p>
              </div>

            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!-- ./col -->
      </div>
      <!-- /.row -->



<div class="box box-default ">
          <div class="box-header with-border">
              <i class="fa fa-tag"></i>
            <h3 class="box-title">BulletIn</h3>
          </div>
          <div class="box-body">

      <div class="box-body">
              <blockquote>
         <a href="#">  <h4> Sample Project 6</h4> </a> <p> Brief description of the project. </p>
              </blockquote>
            </div>

               <div class="box-body">
              <blockquote>
         <a href="#">  <h4> Sample Project 7</h4> </a> <p> Brief description of the project. </p>
              </blockquote>
            </div>

          </div>
          <!-- /.box-body -->
        </div>
        <!-- /.box -->





    </section>
{% endblock %}