{% extends "layout.html" %}
{% block container %}
    <section class="content-header">
      <h1>
        Dashboard
        <small>Your personal dashboard</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href='./'><i class="fa fa-dashboard active"></i> Dashboard</a></li>
      </ol>
    </section>

    <section class="content">
    <form role="form" action="{{ url_for('login_page') }}" method="get" name="dashboard" class="form-horizontal">
         <div class="row">

                <div class="col-md-6">
                  <div class="box box-solid ">
                    <div class="box-header with-danger">
                      <i class="fa fa-tag"></i>

                            <h3 class="box-title">Worklogs</h3>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            {% if worklogs %}
                                <ul class="timeline timeline-inverse">
                                {% for worklog in worklogs %}
                                    <li class="time-label">
                                        <span class="bg-teal-active">
                                            {{ worklog[2].strftime('%d.%m.%Y') }}
                                        </span>
                                            </li>
                                   <li>
                                                <i class="fa fa-search bg-purple"></i>

                                                <div class="timeline-item">
                                                    <span class="time"><i class="fa fa-clock-o"></i> Created:{{ worklog[2].strftime('%H:%M') }}</span>
                                                    <h3 class="timeline-header">
                                                        <a href="{{ url_for('site.projects_details_page', key=worklog[5]) }}">{{ worklog[6] }}</a>
                                                        <a href="{{ url_for('site.people_person_detail_page', key=worklog[3]) }}"><font color="#000000"> {{ worklog[4] }}</font> </a>                                                    </h3>
                                                    <div class="timeline-body">
                                                        {{ worklog[1] }}
                                                    </div>
                                                   {% if worklog[3] == current_user_objectid %}
                                            <form role="form"
                                                  action="{{ url_for('site.projects_details_page', key=project[7]) }}"
                                                  method="post">
                                                <button type="submit" name="deleteWorklog" value="{{ worklog[0] }}"
                                                        class="btn btn-danger btn-xs">Delete
                                                </button>
                                                <button class="btn btn-box-tool" type="button" data-toggle="dropdown">
                                                    <i class="fa fa-pencil-square-o fa-2x"></i>
                                                </button>

                                                <ul class="dropdown-menu" style="border: 2px #f2f2f2">
                                                    <li>Editted Worklog:</li>
                                                    <li>
                                                        <div class="col-xs-ao">
                                                            <input type="text" name="new_log" value="{{ worklog[1] }}"
                                                                   class="form-control">
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <button type="submit" name="editWorklog"
                                                                value="{{ worklog[0] }}" class="btn btn-reddit btn-xs">
                                                            Edit
                                                        </button>
                                                    </li>
                                                </ul>
                                            </form>
                                        {% endif %}

                                                </div>
                                            </li>
                                            <li>
                                                <i class="fa fa-clock-o bg-gray"></i>
                                            </li>
                                            <li></li>

                                {% endfor %}
                                </ul>
                            {% else %}
                                <div class="callout callout-default">
                                    <p>There is no any worklog. It isn't too late to work today!</p>
                                </div>
                            {% endif %}
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                </div>
                <!-- ./col -->
                <div class="col-md-6">

                  <div class="box box-solid">
                        <div class="box-header with-border">
                          <i class="fa fa-tag"></i>

                          <h3 class="box-title">Current Projects</h3>
                        </div>

                    <!-- /.box-header -->
                      <div class="box-body">
                            {% if active_projects %}
                                {% for active_project in active_projects %}
                                    <div class="post">
                                        <div class="user-block">
                        <span class="username">
                          <a href="{{ url_for('site.projects_details_page', key=active_project[3]) }}">{{ active_project[0] }}</a>
                        </span>
                                            <span class="description">{{ active_project[2] }}</span>
                                        </div>
                                        <p>{{ active_project[1] }}</p>
                                        <div class="col-md-1">&nbsp;</div>
                                        <div class="col-md-11">
                                            <div class="box box-default">
                                                <div class="box-header with-border">
                                                    <h5 class="username"><a href="#" onclick="toogle()">Project Members</a></h5>
                                                </div>
                                                <div class="box-body members" style="display: none">
                                                    <div class="col-md-12">
                                                        {% for member in active_project[4] %}
                                                            <div class="col-md-2">
                                                                <a data-toggle="tooltip" data-placement="bottom"
                                                                   title="View {{ member[0] }} more!"
                                                                   href="{{ url_for('site.people_person_detail_page', key=member[3]) }}">
                                                                    <img class="img-responsive img-bordered"
                                                                         height="100px"
                                                                         width="100px"
                                                                         src="../static/user_images/{{ member[1] }}"
                                                                         alt="{{ member[0] }}"></a>
                                                            </div>
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                {% endfor %}
                            {% else %}
                                <div class="callout callout-default">
                                    <form role="form" action="" method="post">
                                        <p>You don't follow ant project. &nbsp; <img width="20px" height="20px"
                                                                                      src="http://image.flaticon.com/icons/png/512/42/42901.png">
                                        </p>
                                        <p><strong>Join a project group and keep in contact with colleague.</strong>
                                        </p>
                                        <a class="btn bg-orange-active btn-xs"
                                           href="{{ url_for('site.projects_search_page') }}"
                                           type="button">
                                            <i class="fa fa-search"></i>&nbsp;&nbsp; Discover the projects right
                                            now!
                                        </button>
                                    </form>
                                </div>
                            {% endif %}
                            <div class="box-footer text-center">
                                <a href="{{ url_for('site.projects_search_page') }}" class="uppercase">View All
                                    Projects!</a>
                            </div>
                      </div>
                    <!-- /.box-body -->
                  </div>
                  <!-- /.box -->
                </div>
                <!-- ./col -->
              </div>
              <!-- /.row -->



</form>


    </section>
    <script type="text/javascript">
    function toogle() {
        $('.members').toggle();
    }
    </script>
{% endblock %}