{% extends "layout.html" %}
{% block container %}
    <section class="content-header">
      <h1>
        Profile
      </h1>
      <ol class="breadcrumb">
        <li><a href='../dashboard.html'><i class="fa fa-dashboard"></i> Homepage</a></li>
        <li>Connections</li>
        <li class="active">Following People</li>
      </ol>
    </section>

    <section class="content">
    <div class="callout callout-info">
        <h4>
            <i class="fa fa-info"></i>  Note:
        </h4>
        You can see all the people that you follow in that page!
    </div>
    </section>
{% endblock %}